@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    -webkit-transform: translatey(4rem);
            transform: translatey(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    -webkit-transform: translatey(4rem);
            transform: translatey(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Archivo', sans-serif;
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  font-size: 6rem;
  display: block;
  letter-spacing: 2rem;
  text-align: center;
  -webkit-animation-name: moveLeft;
          animation-name: moveLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.heading-primary--sub {
  font-size: 2.5rem;
  display: block;
  letter-spacing: 1rem;
  text-align: center;
  -webkit-animation-name: moveRight;
          animation-name: moveRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.heading-secondary {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(rgba(126, 213, 111, 0.8)));
  background-image: linear-gradient(to right, #55c57a, rgba(126, 213, 111, 0.8));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.heading-secondary:hover {
  -webkit-transform: skewY(-2deg) skewX(3deg) scale(1.1);
          transform: skewY(-2deg) skewX(3deg) scale(1.1);
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
}

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.center {
  text-align: center;
}

.margin-b-big {
  margin-bottom: 6rem;
}

.margin-b-medium {
  margin-bottom: 4rem;
}

.margin-b-small {
  margin-bottom: 2rem;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 2rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 2.5rem;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  position: relative;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn:hover::after {
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.btn:active, .btn:focus {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 0.6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 0.6rem rgba(0, 0, 0, 0.3);
  outline: none;
}

.btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 10rem;
  z-index: -1;
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background: #fff;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}

.btn--green::after {
  background: #55c57a;
}

.btn--animation {
  -webkit-animation: moveInBottom 1s ease 0.7s;
          animation: moveInBottom 1s ease 0.7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem;
  color: #55c57a;
  font-weight: 600;
  border-bottom: 1px solid #55c57a;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.btn-text:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.feature-box {
  background-color: rgba(247, 247, 247, 0.8);
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.feature-box:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.feature-box__icon {
  display: inline-block;
  font-size: 5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#7ed56f));
  background-image: linear-gradient(to right, #55c57a, #7ed56f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.feature-box__text {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.composition {
  position: relative;
}

.composition__img {
  width: 50%;
  position: absolute;
  outline-offset: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.composition__img:hover {
  -webkit-box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.3);
  outline: 0.7rem solid #55c57a;
  z-index: 10;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.composition__img--1 {
  top: 0;
  left: 3rem;
}

.composition__img--2 {
  top: 4rem;
  left: 50%;
}

.composition__img--3 {
  top: 10rem;
  left: 30%;
}

.composition:hover .composition__img:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.card {
  height: 50rem;
  position: relative;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.card__side {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
}

.card__side--front {
  background-color: #f7f7f7;
}

.card__side--back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  text-align: center;
  padding: 5rem;
}

.card__side--back-1 {
  background-color: #ff7730;
}

.card__side--back-2 {
  background-color: #28b485;
}

.card__side--back-3 {
  background-color: #5643fa;
}

.card__img {
  height: 20rem;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.card__img--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 119, 48, 0.8))), url(../image/nat-5.jpg);
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url(../image/nat-5.jpg);
}

.card__img--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../image/nat-5.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../image/nat-5.jpg);
}

.card__img--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.8)), to(rgba(86, 67, 250, 0.8))), url(../image/nat-5.jpg);
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url(../image/nat-5.jpg);
}

.card__heading {
  position: absolute;
  top: 10rem;
  right: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  width: 70%;
  text-align: right;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  border-radius: 1rem;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading-span__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__heading-span__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.card__detail ul {
  list-style: none;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
}

.card__detail ul li {
  font-size: 1.6rem;
  padding: 1rem;
}

.card__detail ul li:not(:last-child) {
  border-bottom: 1px solid #777;
}

.card__only {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5rem;
}

.card__price {
  font-size: 5rem;
  font-weight: 100;
  color: #fff;
  margin-bottom: 5rem;
}

.story {
  width: 75%;
  margin: 0 auto;
  padding: 4rem 6rem;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story::after {
  content: '';
  display: table;
  clear: both;
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  border-radius: 50%;
  shape-outside: circle(50% at 50% 50%);
  margin: 0 4rem 0 0rem;
  overflow: hidden;
  position: relative;
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__img {
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: white;
  font-size: 1.7rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story:hover .story__img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form__group {
  margin-bottom: 4rem;
  position: relative;
}

.form-input {
  display: block;
  width: 100%;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-bottom: 2px solid transparent;
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid #55c57a;
  color: #55c57a;
}

.form-input:focus:invalid {
  border-bottom: 2px solid #ffb900;
}

.form-input::-webkit-input-placeholder {
  color: #000;
}

.form-input:placeholder-shown + .form__label {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  opacity: 0;
  visibility: hidden;
}

.form__label {
  font-size: 1.6rem;
  display: block;
  padding-left: 2rem;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

.form__radio-input {
  display: none;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.form__radio-label {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__radio-button {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #55c57a;
  position: relative;
  margin-right: 1rem;
}

.form__radio-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #55c57a;
  opacity: 0;
}

.nav__check {
  display: none;
}

.nav__check:checked ~ .nav__bg {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.nav__check:checked ~ .nav__main {
  width: 100%;
  opacity: 1;
}

.nav__check:checked ~ .nav__button::after {
  content: 'close';
}

.nav__button {
  position: fixed;
  width: 7rem;
  height: 7rem;
  top: 5rem;
  right: 5rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 9000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav__button:hover {
  cursor: pointer;
  background-color: #000;
  color: white;
}

.nav__button::after {
  content: 'open';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.nav__bg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#55c57a, #28b485);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 6000;
}

.nav__main {
  position: fixed;
  width: 0;
  height: 100vh;
  z-index: 7000;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__item {
  list-style: none;
  margin-bottom: 1rem;
}

.nav__link:link, .nav__link:visited {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 240%;
  color: #fff;
}

.nav__link:hover, .nav__link:active {
  background-position: 100%;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
  color: #000;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(85, 197, 122, 0.8)), to(rgba(126, 213, 111, 0.8))), url(../image/hero.jpg);
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url(../image/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 50px;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(85, 197, 122, 0.8)), to(rgba(126, 213, 111, 0.8))), url(../image/nat-4.jpg);
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url(../image/nat-4.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -10rem;
  padding: 20rem 0;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-card {
  padding: 30rem 0 20rem 0;
  margin-top: -20vh;
  background-color: #f7f7f7;
}

.section-stories {
  padding: 10rem 0;
  position: relative;
  overflow: hidden;
}

.section-stories .bg-video {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-stories .bg-video__content {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.section-book {
  padding: 25rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right bottom, #55c57a, #28b485);
}

.section-book .book {
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../image/nat-10.jpg);
  background-size: cover;
}

.section-book .book__form {
  width: 50%;
  padding: 5rem;
}
/*# sourceMappingURL=main.css.map */