@keyframes moveLeft {
    0% {transform: translateX(-10rem); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}

@keyframes moveRight {
    0% {transform: translateX(10rem); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}

@keyframes moveInBottom {
    0% {transform: translatey(4rem); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}